
/*.......FONT-FACES......*/
@font-face {
    font-family: maisonNeue-bold;
    src: url('assets/fonts/woff2/MaisonNeue-Bold.woff2') format('woff2'), url('assets/fonts/ttf/MaisonNeue-Bold.ttf') format('truetype');
}


@font-face {
    font-family: maisonNeue-demi;
    src: url('assets/fonts/woff2/MaisonNeue-Demi.woff2') format('woff2'), url('assets/fonts/ttf/MaisonNeue-Demi.ttf') format('truetype');
}


@font-face {
    font-family: maisonNeue-mono;
    src: url('assets/fonts/woff2/MaisonNeue-Mono.woff2') format('woff2'), url('assets/fonts/ttf/MaisonNeue-Mono.ttf') format('truetype');
}

@font-face {
    font-family: maisonNeue-mono-italic;
    src: url('assets/fonts/woff2/MaisonNeue-MonoItalic.woff2') format('woff2'), url('assets/fonts/ttf/MaisonNeue-MonoItalic.ttf') format('truetype');
}
