<div ng-controller="homeCtrl" class="home" summary="this is the content of home">


<div class="tell">
  <input class="tell-input" type="text" name="name" placeholder="tell me what you want to learn" ng-model="query">
  <!-- <span class="blinking-cursor">|</span> -->
</div>


<div class="home-grid">
  <ul class="home-ul">
    <li class="home-li" ng-repeat="l in library | filter: query" ng-mouseover="showName=true" ng-mouseout="showName=false">
      <a class="home-a" href="{{l.category}}/{{l.id}}" ng-click="thisVideo($index)">
        <p class="home-p" ng-show="showName">{{l.title}}</p>
        <img class="home-img" src="http://img.youtube.com/vi/{{l.id}}/maxresdefault.jpg" alt="{{l.title}}"/>
      </a>
    </li>
  </ul>
</div>

</div>
